<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
<h1>Todo List</h1>

<form th:action="@{/todos/add}" method="post">
    <input type="text" name="title" required/>
    <button type="submit">Add Todo</button>
</form>
<!--th:href="@{/todos/delete/{id}(id=${todo.id})}"-->
<p>To do:</p>
<ul>
    <li th:each="todo : ${todos}" th:if="${not todo.completed}">
        <span th:text="${todo.title}"></span>
        <button th:attr="onclick=|deleteItem('@{/todos/delete/{id}(id=${todo.id})}')|" >Delete</button>
        <button th:attr="onclick=|toggleComplete('@{/todos/status/{id}(id=${todo.id})}')|">Set complete</button>
        <input type="text" th:id="${todo.id}" name="incomplete_todo" required/>
        <button th:attr="onclick=|modify('@{/todos/modify/{id}(id=${todo.id})}')|">Modify todo</button>
    </li>
</ul>

<p>Completed:</p>
<ul>
    <li th:each="todo : ${todos}" th:if="${todo.completed}">
        <span th:text="${todo.title}"></span>
        <button th:attr="onclick=|deleteItem('@{/todos/delete/{id}(id=${todo.id})}')|" >Delete</button>
        <button th:attr="onclick=|toggleComplete('@{/todos/status/{id}(id=${todo.id})}')|">Set incomplete</button>
        <input type="text" th:id="${todo.id}" name="complete_todo" required/>
        <button th:attr="onclick=|modify('@{/todos/modify/{id}(id=${todo.id})}')|">Modify todo</button>
    </li>
</ul>
<script>
    async function deleteItem(path) {
        await fetch(path, {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json'
            }
        });
        location.reload();
    }
    async function toggleComplete(path) {
        await fetch(path, {
            method: 'PUT',
            headers: {
                'Content-type': 'application/json'
            }
        });
        location.reload();
    }

    async function modify(path) {
        const splitPath = path.split("/")
        const id = splitPath[splitPath.length - 1];
        const data = document.getElementById(id).value;
        await fetch(path + "?newTitle=" + data, {
            method: 'PUT',
            headers: {
                'Content-type': 'application/json',
            }
        });
        location.reload();
    }
</script>
</body>
</html>
